<div >
  <nav>
    
    <a aria-label="Share on Google Plus"  href="https://plus.google.com/share?url={{include.base_url}}" target="_blank" data-analytics="{
      &quot;category&quot;: &quot;social&quot;,
      &quot;action&quot;: &quot;share&quot;,
      &quot;label&quot;: &quot;g+&quot;
      }">
      <i class="fa fa-facebook"></i>
    </a>
    
    
    <!-- <div class="copy-link mobile">
      <div class="copy-link__popover glue-c-popover" glue-popover="">
        <a class="glue-c-popover__trigger copy-link__trigger" role="button" tabindex="0">
          <svg role="img" class="h-c-icon h-c-icon--color-text" title="Share" id="copy-popover-icon">
            <use xlink:href="#social-link"></use>
          </svg>
        </a>
        <div class="glue-c-popover__dialog copy-link__content" aria-labelledby="copy-popover-icon" role="dialog" tabindex="-1" aria-hidden="false">
          <input class="h-c-copy  copy-link__url" value="https://www.blog.google/products/chrome/chromes-turning-10-heres-whats-new/" id="mobile-copy-link" readonly="readonly" type="text">
          <button class="copy-link__copy-btn cta" glue-copy="mobile-copy-link" glue-copy-success="Copied to clipboard" glue-copy-fail="Press Ctrl+C or ⌘+C to copy">Copy link</button>
          <div class="glue-c-popover__close-btn h-u-visually-hidden" aria-label="Close" role="button" tabindex="0">×</div>
        </div>
      </div>
    </div> -->
  </nav>
</div>